/app.js
/example.txt
/node_modules
notes/c.mp3
public/notes/001STHLM.mp3
public/notes/002VGR.mp3
public/notes/003SKANE.mp3
public/notes/004OSTERGOTLAND.mp3
public/notes/005UPPSALA.mp3
public/notes/006JONKOPING.mp3
public/notes/007HALLAND.mp3
public/notes/008OREBRO.mp3
public/notes/009SODERMANLAND.mp3
public/notes/010DALARNA.mp3
public/notes/011GAVLEBORG.mp3
public/notes/012VARMLAND.mp3
public/notes/013VASTMANLAND.mp3
public/notes/014VASTERBOTTEN.mp3
public/notes/015NORRBOTTEN.mp3
public/notes/016KALMAR.mp3
public/notes/017VASTERNORRLAND.mp3
public/notes/018KRONOBERG.mp3
public/notes/019BLEKINGE.mp3
public/notes/020JAMTLAND.mp3
public/notes/021GOTLAND.mp3
public/notes/c.mp3
public/notes/f.mp3
.gitignore
.DS_Store

